// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

$theme-color: #f0f0f0; // 테마 색상
body {
  background-color: $theme-color;
}