<div class="card" style="border: 1px solid #e0e0e0; border-radius: 25px; overflow: hidden; margin: 15px; padding: 15px; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); position: relative;">
  {{ with $resource }}
  {{ $image := .Resize "275x" }} <!-- 이미지 크기를 반으로 줄임 -->
  {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
  <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
    <img src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}"
         alt="{{ $item.Title }}" class="img-responsive hover-pixel" loading="lazy" style="width: 100%; height: auto; transition: filter 0.3s ease;">
  </a>
  {{ end }}
  <div class="card-text">
    <div class="section-subheading article-title mb-1 mt-3">
        <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>
    </div>

    {{ if $item.Params.authors }}
    <div class="article-metadata">
        <div>
            {{ partial "page_metadata_authors" $item }}
        </div>
    </div>
    {{ end }}

    {{ with $summary }}
    <div class="article-style">
      <p>{{ . }}</p>
    </div>
    {{ end }}

    {{ if $has_attachments }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  </div>
</div>

<style>
  .hover-pixel {
    filter: contrast(200%) saturate(150%) blur(2px);
    image-rendering: pixelated; /* 픽셀화 효과 적용 */
  }

  .hover-pixel:hover {
    filter: none; /* 호버 시 선명해지는 효과 */
  }
</style>